body{
    background-color: black; 
}

canvas{
    border: 4px solid #fff;
    display: block;
    border-bottom: transparent;
    background: url("./img/background.png") repeat;
    margin: 100px auto;
}